 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Personagem</h3>
      </header>
      <div class="content"> 
        Personagem cadastrado com sucesso.
      </div>
    </br>
      <button class="btn primary" onclick="location.href='/personagem/lst'">Voltar para a lista de Personagens</button>

      <%-include('../rodape.ejs')%>