<%-include('../cabecalho.ejs')%>
  <header>
    <h3>Adicionar Novo Titã</h3>
  </header>
  <div class="content">
    <form id="form-titam" method="post" enctype="multipart/form-data" autocomplete="off" action="/titam/add/ok">

      <div class="grid">
        
        <div>
          <label for="nome">Nome do Titã</label>
          <input id="nome" name="nome" type="text" placeholder="Ex:Titã de Ataque"  required>
        </div>
        </br>


        <div class="grid">
          <div>
            <label for="habilidade">Principal Habilidade</label>
            <input id="habilidade" name="habilidade" type="text" placeholder="Ex: Força" required>
          </div>
          </br>
          <div>
            <label for="portador">Portador</label>
            <input id="portador" name="portador" type="text" placeholder="Ex: Eren Yeager" required>
          </div>
           </br>
            <label for="foto">Foto</label>
        <input id="foto" name="foto" type="file" accept="image/*" required onchange="previewFoto(event)">
        <img id="preview" src="" alt="Preview" style="max-width: 200px; margin-top: 10px; display: none;">

          
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/titam/lst">Cancelar</a>
            <button type="submit" class="btn primary">Adicionar Titã</button>
          </footer>
    </form>
  </div>

  <%-include('../rodape.ejs')%>

    <script>
      function previewFoto(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('preview');

        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            preview.src = e.target.result;
            preview.style.display = 'block';
          }
          reader.readAsDataURL(file);
        } else {
          preview.style.display = 'none';
        }
      }
    </script>