<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Titã</h3>
      </header>
      <div class="content">
        Titã alterado com sucesso.
      </div>
    </br>
      <button class="btn primary" onclick="location.href='/titam/lst'">Voltar para a lista de titans</button>

 <%-include('../rodape.ejs')%> 