     <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Filme</h3>
      </header>
      <div class="content">
        <form id="form-filmes" method="post" autocomplete="off" action="/filme/add/ok">
          <div class="grid">
            <div>
              <label for="nome">Nome do Filme</label>
              <input id="nome" name="nome" type="text" placeholder="Ex: Attack on Titan: O Último Ataque" required>
            </div>
           </br>

             <div class="content">
        <form id="form-filmes" method="post" autocomplete="off" action="/filme/add/ok">
          <div class="grid">
            <div>
              <label for="Tempo">Tempo de Filme</label>
              <input id="Tempo" name="Tempo" type="text" placeholder="Ex: 2h 30min" required>
            </div>
            </br>

               <div class="content">
        <form id="form-filmes" method="post" autocomplete="off" action="/filme/add/ok">
          <div class="grid">
            <div>
              <label for="Historia">Historia</label>
              <input id="Historia" name="Historia" type="text" placeholder="Ex: Guerra contra Marley" required>
            </div>
            
            </br>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/filme/lst">Cancelar</a>
            <button type="submit" class="btn primary">Adicionar Filme</button>
          </footer>
        </form>
      </div>

      <%-include('../rodape.ejs')%>