 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Nova Marca</h3>
      </header>
      <div class="content"> 
        Marca cadastrada com sucesso.
      </div>
        </br>
      <button class="btn primary" onclick="location.href='/filme/lst'">Voltar para a lista de Filmes</button>

      <%-include('../rodape.ejs')%>