<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Filme</h3>
      </header>
      <div class="content">
        Filme alterado com sucesso.
      </div>
    </br>
      <button class="btn primary" onclick="location.href='/filme/lst'">Voltar para a lista de Filmes</button>

 <%-include('../rodape.ejs')%> 