 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo arco</h3>
      </header>
      <div class="content"> 
        Arco cadastrado com sucesso.
      </div>
    </br>
      <button class="btn primary" onclick="location.href='/arco/lst'">Voltar para a lista de Arco</button>

      <%-include('../rodape.ejs')%>